extends layout

block content
    h1= title
    br

    form(action="/customer/register_process", method="get", role="form")  
        p email:
        input(type="email", name="username")
        p Username:
        input(type="text", name="username")
        p Password:
        input(type="password", name="password")
        p
        button(type="submit") submit