block content
    #banner.page-header
        h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}

each merchant in merchants
    h4
    a(href="/merchant/#{merchant._id}")= merchant.name
    p= "(" + merchant.category + ")"